@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class ="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Expiration</th>
                <th>Category</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @Model.thongbao;
            @foreach(var product in @Model.CuaHang)
            {
                foreach(var item in product.dsach)
                {
                    if(@item.isDeleted) {
                    <tr>
                         <th>@item.id</th>
                         <th>@item.name</th>
                         <th>@item.quantity</th>
                         <th>@item.price</th>
                         <th>@item.Expiration.ToShortDateString()</th>
                         <th>@product.name</th>
                         <th>
                             <a href =''>Add</a>
                         </th>

                    </tr>}
                }
               
            }
           
        </tbody>
    </table>
</div>
