@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form class = 'form-control' method ='post'>
        <input type ='text' name ='Timkiem'/>
        <input type='submit' value='tim' class ='btn btn-primary' />
    </form>
     @Model.thongbao
    <table class ="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Expiration</th>
                <th>Category</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
           
            @foreach(var product in @Model.CuaHang)
            {
                foreach(var item in product.dsach)
                {
                    if(@item.isDeleted == false) {
                    <tr>
                         <th>@item.id</th>
                         <th>@item.name</th>
                         <th>@item.quantity</th>
                         <th>@item.price</th>
                         <th>@item.Expiration.ToShortDateString()</th>
                         <th>@product.name</th>
                         <th>
                             <a href ="/Edit-Product?id=@item.id&name=@product.name" class = "btn-primary btn">Edit</a>
                             <a href ="/delete-product?id=@item.id&name=@product.name" class = "btn-danger btn">Delete</a>
                         </th>

                    </tr>}
                }
               
            }
           
        </tbody>
    </table>
</div>
